.secondary-button {
  display: inline-block;
  background-color: hsla(0, 0%, 0%, 0);
  border: 1px solid hsl(0, 0%, 25%);
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  padding-left: 12px;
  padding-right: 12px;
  padding-top: 6px;
  padding-bottom: 6px;
  border-radius: 24px;
  align-content: center;
  justify-content: center;
  font-size: 16px;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 600;
  color: hsl(0, 0%, 90%);
}

.secondary-button:hover {
  display: inline-block;
  background-color: hsl(0, 0%, 6%);
}

.secondary-button:hover span {
  display: none;
  background-color: hsl(0, 0%, 6%);
}

.secondary-button:hover:before {
  display: inline-block;
  content: attr(data-text);
  background-color: hsl(0, 0%, 6%);
}
