.card {
  background-color: none;
  color: white;
  max-width: 360px;
  padding: 20px;
  border-radius: 12px;
  border: 1px solid hsl(0, 0%, 35%);
  margin: 12px;
}

:host {
  display: block;
  flex: 1;
}

.center {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100%;
}
