.primary-button {
  display: inline-block;
  background-color: hsl(0, 0%, 98%);
  padding-left: 12px;
  padding-right: 12px;
  padding-top: 6px;
  padding-bottom: 6px;
  border-radius: 24px;
  align-content: center;
  justify-content: center;
  font-size: 16px;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 600;
  color: hsl(0, 0%, 10%);
}

.primary-button:hover {
  display: inline-block;
  background-color: hsl(0, 0%, 90%);
}

.primary-button:hover span {
  display: none;
  background-color: hsl(0, 0%, 90%);
}

.primary-button:hover:before {
  display: inline-block;
  content: attr(data-text);
  background-color: hsl(0, 0%, 90%);
}
