:host {
  display: block;
}

.banner {
  display: flex;
  background-color: rgb(0, 0, 255);
  color: rgba(255, 255, 255, 0.9);
  font-family: 'Courier New', Courier, monospace;
  font-size: 12px;
  font-weight: bold;
  justify-content: center;
  align-items: center;
  width: 100%;
  box-sizing: border-box;
  border-radius: 0px;
  padding: 6px;
  margin: 0px;
}
